.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
  flex-wrap: wrap;
  width: 100%;

  .page-title {
    width: fit-content;
    h1 {
      text-align: left;
      font-weight: 300;
    }
  }
  .end,
  .actions {
    display: flex;
    justify-content: end;
    align-items: center;
    .actions {
      button {
        margin: 0 0.5em;
      }
    }
  }
}

// mobile breaks
@media screen and (max-width: 900px) {
  .header {
    .search {
      width: auto;
    }
  }
}

@media screen and (max-width: 710px) {
  .header {
    div,
    button {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 414px) {
  .header {
    .actions {
      flex-direction: column;
      button {
        margin: 0.5em 0;
        width: 100% !important;
      }
    }
  }
}
