.btn-group {
  width: 100%;
  margin: 0 0 1em 0;
  .btn,
  a {
    opacity: 0.6;
    background: var(--white--600);
    border: 1px solid var(--white--700);
    color: var(--black--700);
    padding: 0.25em 1em;
    &:first-of-type {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    &:last-of-type {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
    &.active {
      opacity: 1;
      background: var(--white--100);
      color: var(--black--700);
      border: 1px solid var(--white--600);
      box-shadow: var(--elevation--sm);

      .badge {
        opacity: 1 !important;
      }
    }
    &:focus {
      box-shadow: none;
    }
  }
}
