<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form id="loginForm" action="/action_page.php">
        <div class="input-wrap">
            <label for="Email">Email</label>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="text" id="Email" name="Email" class="form-control" placeholder="Email" aria-label="Email"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="input-wrap">
            <label for="Password">Password</label>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="password" id="Password" name="Password" class="form-control" placeholder="Password"
                    aria-label="Password" aria-describedby="basic-addon1">
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</body>

</html>