.btn {
  outline: none;
  white-space: nowrap;
  font-size: var(--roboto--14px);
  padding: 0.6em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  i,
  svg {
    margin: 0;
  }
  &.icon-left {
    i,
    svg {
      margin: 0 0.6em 0 0;
    }
  }
  &.pill {
    border-radius: 99em;
  }
  &.rounded {
    border-radius: 8px;
  }
}

.btn-white {
  background: var(--white--100);
  border: 1px solid var(--black--200);
  &:hover {
    background-color: var(--white--300);
    border-color: var(--white--900);
  }
}

.btn-transparent {
  background: transparent;
  border-color: transparent;
  color: inherit;
}

.btn-primary {
  background-color: var(--primary--900);
  border: 1px solid var(--primary--900);
  i,
  svg {
    path {
      color: var(--white--100);
    }
  }
  &:hover {
    border-color: var(--primary--800);
    background-color: var(--primary--800);
  }

  &:focus {
    background: var(--primary--900);
    border-color: var(--primary--900);
    box-shadow: var(--elevation--primary);
  }
}

.btn-dragonfruit {
  background-color: var(--dragon-fruit--500);
  border: 1px solid var(--dragon-fruit--500);
  color: var(--white--100);
  i,
  svg {
    path {
      color: var(--white--100);
    }
  }
  &:hover {
    border-color: var(--dragon-fruit--400);
    background-color: var(--dragon-fruit--400);
    color: var(--white--100);
  }

  &:focus {
    border-color: var(--dragon-fruit-600);
    background-color: var(--dragon-fruit--00);
    color: var(--white--100);
    box-shadow: --dragon-fruit--box-shadow;
  }
}

// size classes

.btn-xlg {
  padding: 1.3em 2.5em;
}

.btn-lg {
  padding: 0.75em 1.5em;
}

.btn-md {
  padding: 0.45em 1.2em;
}

.btn-sm {
  padding: 0.3em 1em;
  font-size: var(--roboto--12px);
}
