<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Group</title>
    <link rel="stylesheet" href="input-group.css" />
  </head>

  <body>
    <div class="input-group">
      <input
        type="text"
        id="Other"
        class="form-control"
        aria-label="Other Keywords (ex: FHA, Conventioanl)"
        aria-describedby="basic-addon1"
      />
      <label for="Other">Other Keywords (ex: FHA, Conventioanl)</label>
    </div>
  </body>
</html>
