//overriding very specific boostrap styles
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
.input-group > .form-floating:not(:first-child) > .form-control,
.input-group > .form-floating:not(:first-child) > .form-select {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.input-group input [type="search"] {
  border-radius: 8em;
}
// custom styles here

label {
  padding-left: 1em;
  color: var(--black--600);
  font-size: var(--roboto--12px);
}

.input-group {
  width: 100%;
  margin: 1.5em 0;
  align-items: center;
  justify-content: center;
  position: relative;

  i,
  svg {
    z-index: 4;
    position: absolute;
    left: 0.5em;
    color: var(--primary--900);
    path {
      color: var(--primary--900);
    }

    + input {
      padding-left: 2em;
    }
  }

  .form-control {
    transition: all 0.4s ease;
    font-size: 1.6rem;
    background-color: var(--white--100);
    border-radius: 8px;
    border-color: var(--white--600);

    &.w-icon {
      ~ label {
        transform: translateX(1.5em);
        &.freeze {
          transform: translateY(-2.4em);
        }
      }
    }
    &:focus {
      box-shadow: var(--primary--box-shadow);
      ~ label {
        font-size: var(--roboto--12px);
        opacity: 1;
        transform: translateY(-2.4em);
      }
    }

    &::placeholder {
      color: var(--black--500);
    }

    ~ label {
      transition: all 0.4s ease;
      opacity: 1;
      position: absolute;
      left: 0;
      font-size: var(--roboto--14px);
      opacity: 0.5;
      &.freeze {
        font-size: var(--roboto--12px);
        opacity: 1;
        transform: translateY(-2.4em);
      }
    }
    &:hover {
      cursor: pointer;
      background-color: var(--white--400);
    }
  }
}

/// controls textarea UI

textarea {
  border-radius: 8px;
  border-color: var(--black--300);
  padding: 0.2em 0.5em;
  font-size: var(--roboto--14px) !important;
  &:focus {
    outline: none;
    border: 1px solid var(--primary--900);
    box-shadow: var(--primary--box-shadow);
  }
}
