<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Group</title>
    <link rel="stylesheet" href="input-group.css" />
  </head>

  <body>
    <div class="input-group mb-3">
      <label for="Password">Password</label>
      <span class="input-group-text" id="envelope-icon"
        ><i class="fas fa-lock"></i
      ></span>
      <input
        type="password"
        id="Passwor"
        name="email"
        value="Password"
        class="form-control"
        placeholder="Password"
        aria-label="Password"
        aria-describedby="basic-addon1"
      />
    </div>
  </body>
</html>
