.polly-container {
  &.nav-open {
    transform: translateX(6em);
  }
}
.container-xlg {
  transition: all 0.4s ease;
  max-width: 1680px;
}

.container-lg {
  transition: all 0.4s ease;
  max-width: 1512px;
}

.container-md {
  transition: all 0.4s ease;
  max-width: 720px;
}

.container-sm {
  transition: all 0.4s ease;
  max-width: 414px;
}
