<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>

  <body>
    <form id="loginForm" class="form-md m-auto">
      <div class="logo">
        <img src="img/logo.svg" alt="polly logo" />
      </div>
      <header>
        <h1>Welcome</h1>
        <h2>Please login</h2>
      </header>
      <div class="input-wrap">
        <label for="Email">Email</label>
        <div class="input-group">
          <i class="fas fa-envelope"></i>
          <input
            type="text"
            id="Email"
            name="Email"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="input-wrap">
        <label for="Password">Password</label>
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            id="Password"
            name="Password"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="form-footer">
        <section>
          <div class="buttons">
            <a href="dashboard.html">
              <input type="submit" class="btn btn-primary" value="Login"
            /></a>
          </div>
          <div class="extras">
            <p id="forgot-pw"><a href="#">Forgot Password</a></p>
          </div>
        </section>
        <section>
          <div class="extras">
            <p>Dont have an account?</p>
          </div>
          <div class="buttons">
            <input type="submit" class="btn btn-white" value="Register" />
          </div>
        </section>
      </div>
    </form>
  </body>
</html>
