<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
  </head>
  <body>
    <div class="table-container">
      <table class="table table-fluid">
        <div class="table-header">
          <h1>Working Sessions</h1>
        </div>
        <thead>
          <tr>
            <th scope="col">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </th>
            <th scope="col">Name<i class="fas fa-arrow-down"></i></th>
            <th scope="col">Added<i class="fas fa-arrow-down"></i></th>
            <th scope="col">Modified<i class="fas fa-arrow-down"></i></th>
            <th scope="col">Removed<i class="fas fa-arrow-down"></i></th>
            <th scope="col">Generated<i class="fas fa-arrow-down"></i></th>
            <th scope="col">Status<i class="fas fa-arrow-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="sec" colspan="7">Wednesday, June 15</td>
          </tr>
          <tr>
            <td data-title="&nbsp;" scope="row">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </td>
            <td class="link" data-title="Name">
              <a href="#">Tuesday Pre Day</a>
            </td>
            <td data-title="Added">3</td>
            <td data-title="Modified">1</td>
            <td data-title="Removed">0</td>
            <td data-title="Generated">-</td>
            <td data-title="Status">
              <span class="badge badge-secondary">Draft</span>
            </td>
          </tr>
          <tr>
            <td class="sec" colspan="7">Friday, May 13</td>
          </tr>
          <tr>
            <td data-title="&nbsp;" scope="row">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
              />
            </td>
            <td class="link" data-title="Name"><a href="#">03252020 PM</a></td>
            <td data-title="Added">3</td>
            <td data-title="Modified">1</td>
            <td data-title="Removed">0</td>
            <td data-title="Generated">05/13/22 9:04 AM</td>
            <td data-title="Status">
              <span class="badge badge-success">Active</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
