.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  border-bottom: none;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table-container {
  box-shadow: var(--elevation--large);
  border-radius: 10px;
  background-color: var(--white--100);

  .table-header {
    padding: 1.5em 1em;

    h1 {
      color: var(--black--700);
      font-weight: 400;
      font-size: var(--roboto--24px--regular);
    }
  }

  table {
    tr {
      border: none;

      td {
        font-size: var(--roboto--14px--regular);
        &.sec {
          font-size: var(--roboto--12px--regular);
          color: var(--black--500);
          text-transform: uppercase;
          font-weight: 500;
        }
        &.link {
          font-weight: 500;
        }
      }
    }

    thead {
      tr {
        background-color: var(--white--400);

        th {
          font-size: var(--roboto--14px--bold);

          i,
          svg {
            cursor: pointer;
            path {
              transition: all 0.4s ease;
              color: var(--black--500);
              &:hover {
                color: var(--primary--900);
              }
            }
            &:hover {
              color: var(--black--200);
            }
          }

          &:first-of-type {
            border-top-left-radius: 10px;
          }

          &:last-of-type {
            border-top-right-radius: 10px;
          }

          i,
          svg {
            margin-left: 0.5em;
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: var(--white--400);
        }

        &:nth-child(odd) {
          background-color: var(--white--100);
        }

        &:last-of-type {
          td {
            &:first-of-type {
              border-bottom-left-radius: 10px;
            }

            &:last-of-type {
              border-bottom-right-radius: 10px;
            }
          }
        }
      }
    }
  }
}

// responsiveness
.table-fluid {
  @media (max-width: 620px) {
    thead {
      display: none;
    }

    tbody {
      > tr {
        > td,
        th {
          display: flex;
          justify-content: space-between;
          justify-content: baseline;

          &[data-title] {
            &:before {
              content: attr(data-title);
              display: block;
            }
          }
        }
      }
    }
  }
}
