<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
  </head>
  <body>
    <table class="table table-fluid">
      <thead>
        <tr>
          <th scope="col">
            <input
              type="checkbox"
              aria-label="Checkbox for following text input"
            />
          </th>
          <th scope="col">First<i class="fas fa-caret-down"></i></th>
          <th scope="col">Last<i class="fas fa-caret-down"></i></th>
          <th scope="col">Handle<i class="fas fa-caret-down"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="&nbsp;" scope="row">
            <input
              type="checkbox"
              aria-label="Checkbox for following text input"
            />
          </td>
          <td data-title="First">Mark</td>
          <td data-title="Last">Otto</td>
          <td data-title="Handle">@mdo</td>
        </tr>
        <tr>
          <td data-title="&nbsp;" scope="row">
            <input
              type="checkbox"
              aria-label="Checkbox for following text input"
            />
          </td>
          <td data-title="First">Jacob</td>
          <td data-title="Last">Thornton</td>
          <td data-title="Handle">@fat</td>
        </tr>
        <tr>
          <td data-title="&nbsp;" scope="row">
            <input
              type="checkbox"
              aria-label="Checkbox for following text input"
            />
          </td>
          <td data-title="First">Larry</td>
          <td data-title="Last">the Bird</td>
          <td data-title="Handle">@twitter</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
