<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Switch</title>
    <link rel="stylesheet" href="switch.css" />
  </head>
  <body>
    <label for="switchCheckbox" class="switch">
      <input type="checkbox" id="switchCheckbox" />
      <div class="slider round"></div>
    </label>

    <div class="choice">
      <div class="cont left">
        <button type="button" class="right">
          Active Rules
          <div class="badge badge-white">3</div>
        </button>
        <button type="button" class="left">Right</button>
      </div>
    </div>
  </body>
</html>
