.badge {
  font-weight: 500;
  margin: 0 0.5em;
  display: inherit;
  i,
  svg {
    path {
      color: inherit;
    }
  }

  label {
    margin-right: 0.365em;
  }

  label,
  span,
  i,
  svg {
    color: inherit;
    padding: 0;
  }
  &.round {
    border-radius: 99em;
  }
  &.inactive {
    opacity: 0.5;
  }
  &.badge-lg {
    padding: 0.5em 1em;
    font-size: var(--roboto--14px);
  }

  &.badge-sm {
    padding: 0.25em 0.5em;
    font-size: var(--roboto--12px);
  }

  &.badge-primary {
    background-color: var(--primary--300);
    color: var(--primary--900);
  }

  &.badge-secondary {
    background-color: var(--caution--200);
    color: var(--caution--500);
  }

  &.badge-success {
    background-color: var(--success--200);
    color: var(--success--500);
  }
  &.badge-error {
    background-color: var(--error--200);
    color: var(--error--700);
  }

  &.badge-inactive {
    background-color: var(--black--200);
    color: var(--black--500);
  }

  &.badge-white {
    background-color: var(--white--200);
    border: 1px solid var(--black--300);
    color: var(--black--900);
  }

  &.dismiss {
    i,
    svg {
      margin-left: 0.675em;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
