.search {
  width: 50%;
  .input-wrap {
    .input-group {
      i,
      svg {
        right: 1em;
        left: auto;
        position: absolute;
        path {
          color: var(--black--300);
        }
      }
      input {
        border-radius: 99em !important;
        &::placeholder {
          color: var(--black--400);
          font-weight: 400;
        }
      }
    }
  }
}

// overriding some bootstrap bs

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
.input-group > .form-floating:not(:first-child) > .form-control,
.input-group > .form-floating:not(:first-child) > .form-select {
  border-radius: 8px;
}
