.search {
  width: 50%;
  transition: all 0.4s ease;
  &.search-closed {
    width: 48px;
    label {
      background: none;
      display: none;
    }
  }
  .input-wrap {
    .input-group {
      margin: 0;
      i,
      svg {
        right: 1em;
        left: auto;
        position: absolute;
        path {
          color: var(--black--500);
        }
        &:hover {
          cursor: pointer;
        }
      }
      input {
        border-radius: 99em !important;
        &::placeholder {
          color: var(--black--400);
          font-weight: 400;
        }
      }
      &.bg-transparent {
        input {
          border-color: transparent;
          background: transparent;
          ~ label {
            display: none;
            background: transparent;
            transform: translate(0.2em, -2em);
          }
          &:hover {
            border-color: var(--primary--600);
          }
        }
      }
    }
  }
  &.search-lg {
    input {
      padding: 0.6em 1em;
      &:focus {
        ~ label {
          display: none;
          transform: translate(0.2em, -2em);
        }
      }
      ~ label {
        padding-left: 1em;
        &.freeze {
          transform: translate(0.2em, -2em);
        }
      }
    }
  }

  &.search-md {
    input {
      padding: 0.55em 1em;
      ~ label {
        transform: translateY(0.25em);
      }
    }
  }
  &.search-sm {
    input {
      padding: 0.15em 1em;
      ~ label {
        transform: translateY(0.05em);
      }
    }
  }
}

// overriding some bootstrap bs

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
.input-group > .form-floating:not(:first-child) > .form-control,
.input-group > .form-floating:not(:first-child) > .form-select {
  border-radius: 8px;
}
